body {
  margin: 0;
  padding: 15px;
}

/* navigation */
.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #7ce65f;
  left: 0;
  bottom: 0;
}

a:hover {
  color: #b6efa6;
  transition: color 0.3s;
}

.navbar {
  margin-bottom: 30px;
}

.clickable {
  cursor: pointer;
}
